body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  opacity: 0.6;
}

.strike:hover {
  text-decoration: line-through underline;
}

/* Override Bootstrap */
.list-group-item-action {
  cursor: pointer;
}
